#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: 500;
  font-family: Comic Sans MS;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

.shares {
  padding: 0;
}
.videoWrapper iframe {
  float: right;
  width: 85%;
  height: 250px;
  margin-right: 80px;
}
.title {
  display: block;
  color: red;
  font-weight: bold;
}
.user {
  padding-top: 0;
}
.description {
  padding-top: 0;
  font-weight: bold;
  white-space: pre-wrap;
}

aside section {
  padding: 10px 0;
  margin-top: 20px;
}

aside section :first-child {
  border: 0;
  padding-top: 0;
}

.navbar-inverse {
  background-color: #fff!important;
  background-image: none;
}
.navbar-login {
  display: inline-block;
}
.navbar-login > li button {
  margin: 0px 5px;
  padding: 10px 20px;
  border-color: #000;
  border-radius: inherit;
  font-weight: bold;
  color: #000!important;
  --bs-btn-hover-border-color: darkgray;
}
.navbar-login > li input {
    margin: 10px;
    width: auto;
}
.navbar-login > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
